{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    <header>
        <div class="logo-search">
            <div class="logo"><a href="{% url 'index' %}">My Blog</a></div>
            <input type="text" placeholder="Search..." class="search-box">
        </div>
        <nav>
            <ul>
                <li>For You</li>
                <li>Following</li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"><img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" alt="{{user.username}}" class="profile-icon"></a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li> 
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer>
        <ul>
            <li>About</li>
            <li>Contact</li>
            <li>Privacy Policy</li>
            <!-- More links -->
        </ul>
    </footer>
</body>
</html>