{% extends 'base.html' %}

{% block content %}
<div class="" style="width: 50%; border: 1px solid rgba(100, 100, 100, 0.374); margin: 0 auto; padding: 10px;">
    <h1>Write the New post</h1>

    <form method="POST" action="{% url 'newstory' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Publish</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const newCategoryInput = document.getElementById('id_new_category');
        const categorySelect = document.getElementById('id_category');
    
        newCategoryInput.addEventListener('change', function() {
            const newCategoryName = newCategoryInput.value.trim();
            if (newCategoryName !== '') {
                let newOption = document.createElement('option');
                newOption.text = newCategoryName;
                newOption.value = newCategoryName;
                newOption.selected = true;
                categorySelect.add(newOption);
            }
        });
    });
    </script>
<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}